
@{
    ViewBag.Title = "AboutUs";
}

<h2>AboutUs</h2>
<p>
    Ngày 9/9, Chủ tịch UBND quận 12, TP.HCM - Lê Trương Hải Hiếu đã có văn bản gửi UBND các phường Thạnh Xuân, Thạnh Lộc và An Phú Đông, khuyến cáo người dân đề phòng khả năng xuất hiện cá sấu trên sông Sài Gòn.
</p>
