@page
@model IndexModel
@using MediaPlay.Component

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Movie</h1>
    <p>Wellcome to Movie Hot</p>
</div>

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
